<section class="max-w-6xl mx-auto my-10">
    <h2 class="px-5 mt-10 mb-3 text-2xl font-bold">
        All Products
    </h2>
    <div id="products_list" class="flex flex-col flex-wrap items-start justify-start gap-3 px-2 py-2 mx-auto sm:flex-row">
        <!-- JS Populate -->
    </div>
</section>

<script>
    let noOfStars = (rating) => {
        let starRating = Math.round(rating);
        let stars = '';

        for (let i = 0; i < starRating; i++) {
            stars += '<i class="text-yellow-300  fa-solid fa-star"></i>';
        } 

        for (let i = 0; i < (5 - starRating); i++) {
            stars += '<i class=" text-slate-300 fa-solid fa-star"></i>';
        }


        return stars;       
    }

    fetch(`${baseURL}/products/fake.php`)
    .then((res) => res.json())
    .then((products) => {
        displayProducts(products);
    })

    const displayProducts = (products) => {
        let cards = '';

        products.forEach((product) => {
            cards += `<a href="product_details.php?product_id=${product.id}" class="mx-2 mt-0 w-[250px]  items-center rounded-lg hover:shadow-lg overflow-hidden">
                        <aside class="relative w-full h-full ">
                            ${ (product.discount > 0) ? `<div class="absolute px-3 font-semibold text-red-500 bg-red-100 rounded-md right-2 top-2"> ${product.discount}%</div>` : ''}
                            <div class="flex items-center justify-center w-full h-40 overflow-hidden">
                                <img src="${product.image}" alt="" class="object-cover min-w-full min-h-full">
                            </div>
                            <div class="px-3 pt-3 pb-6">
                                <h3 class="py-1 text-xs font-semibold uppercase text-slate-600">
                                    ${product.category}
                                </h3>
                                <h3 class="py-1 font-semibold line-clamp-2">
                                    ${product.name}
                                </h3>
                                <div class="py-2 text-xs">
                                    ${ noOfStars(product.rating) }
                                    (${product.no_reviews})
                                </div>
                
                                <h2 class="text-lg font-semibold">
                                    <span class="text-red-500">
                                        &#8358; ${product.price - (product.price * (product.discount/100))}
                                    </span>
                                    ${ (product.discount > 0) ? `<small class="text-sm line-through text-slate-500">
                                        &#8358; ${product.price}
                                    </small>` : '' }

                                </h2>
                            </div>
                        </aside>
                    </a>`;
                    // console.log(product);
                    
        })

        // console.log('products', products);
        document.getElementById('products_list').innerHTML = cards;
    }

</script>

