<section class=" my-10 mx-auto max-w-6xl text-white">
    <div class=" px-4 py-3 flex justify-start items-center  bg-primary  ">
        <h1 class=" text-2xl font-bold">Trending Deals </h1> <span class=" px-7"> Hot offers</span>
        <span class="text-yellow-400/20"><i class=" fa-solid fa-star"></i></span>
    </div>

    <div id="trending_List" class=" flex flex-col-3 justify-start items-center mx-auto
     px-2 py-2 sm:flex-row gap-3 flex-wrap">
        <!-- will populate in js here -->
    </div>
</section>

<script>

let noOfStars = (rating) => {
        let starRating = Math.round(rating);
        let stars = '';

        for (let i = 0; i < starRating; i++) {
            stars += '<i class=" text-yellow-300 fa-solid fa-star"></i>';
        } 

        for (let i = 0; i < (5 - starRating); i++) {
            stars += '<i class=" text-slate-300 fa-solid fa-star"></i>';
        }


        return stars;   
    }
    
    fetch(`${baseURL}/products/fake.php`)
        .then((res) => res.json())
        .then((trendings) => {
            displayTrends(trendings);
        })

    const displayTrends = (trendings) => {
        let cards = '';

        trendings.forEach((trendings) => {
            cards +=`<a href="product_details.php?product_id=${trendings.id}" class="w-[350px] rounded-lg hover:shadow-lg cursor-pointer overflow-hidden sm:shadow-lg">
                <aside class="w-fit h-full flex justify-start items-center px-8 ">
                        <div class=" h-full w-full  bg-green-700">
                            <div class="h-full w-full ">
                                <img src=" ${trendings.image}" alt="" class="object-cover min-h-full min-w-full">
                         </div>
                    </div>
                    <div class="px-5 pt-3 pb-6 mx-auto w-full h-full">
                        <h3 class="font-semibold text-xs uppercase py-1 text-slate-600">
                            ${trendings.category}
                        </h3>
                        <h3 class="font-semibold py-1 line-clamp-2 text-black">
                            ${trendings.name}
                        </h3>
                        <div class="text-xs py-2"><i class="text-yellow-300 fa-solid fa-star"></i><i
                                class=" text-yellow-300 fa-solid fa-star"></i>
                            <i class=" text-yellow-300 fa-solid fa-star"></i><i class=" text-yellow-300 fa-solid fa-star"></i>
                            (120)
                        </div>
        
                        <div class="">
                            <h2 class="text-lg text-red-500 font-semibold ">
                                ${trendings.price} <span class="bg-red-100 rounded-md text-red-500 text-sm h-2 px-1 font-extralight">-30%</span>
                             </h2>
                        </div>
                    </div>
                </aside>
             </a>`;


        })
        
        document.getElementById('trending_List').innerHTML = cards;
    }





</script>