<section class=" px-10 py-4 h-[80vh]">
    <div class=" flex mx-auto justify-between  px-10 py-2 text-black">
        <aside class="text-2xl font-bold text-black">New Products</aside>
        <aside> sort <span class="text-red-500">All categories</span> <select name="" id=""></select></aside>
    </div>
    <div class="flex flex-col mx-auto sm:items-start justify-between px-2 py-2 sm:flex-row space-y-4">
        <div class="mx-2 mt-0 w-[250px] items-center rounded-lg hover:shadow-lg overflow-hidden">
            <aside class="w-full h-full relative">
                <div class="absolute right-2 top-2 px-3 bg-red-100 rounded-md text-red-500 font-semibold"> 30%</div>
                <div class="h-40 w-full bg-red-400">
                    <img src="images/Picture.jpg" alt="" class="object-cover min-h-full min-w-full">
                </div>
                <div class="px-3 pt-3 pb-6">
                    <h3 class="font-semibold text-xs uppercase py-1 text-slate-600">
                        Phone gadgets
                    </h3>
                    <h3 class="font-semibold py-1 line-clamp-2">
                        iphone 12Pro max,JBL,
                        Iwatch 12geniphone 12Pro max,JBL,
                        Iwatch 12geniphone 12Pro max,JBL,
                        Iwatch 12gen
                    </h3>
                    <div class="text-xs py-2"><i class="text-yellow-300 fa-solid fa-star"></i><i
                            class=" text-yellow-300 fa-solid fa-star"></i>
                        <i class=" text-yellow-300 fa-solid fa-star"></i><i class=" text-yellow-300 fa-solid fa-star"></i>
                        (120)
                    </div>
    
                    <h2 class="text-lg font-semibold">
                        $299.94
                    </h2>
                </div>
            </aside>
        </div>
        <div class=" bg-slate-200 mx-2 py-4 px-4 mt-0 w-[250px] items-center rounded-lg">
            <aside class=" px-2 w-full h-full">
                <img src="images/gad2.avif" alt="" class="w-full h-44 py-1">
                <h3 class="font-thin py-1">
                    Phone gadgets
                </h3>
                <h3 class="font-semibold py-1">
                    iphone 12Pro max,JBL,
                    Iwatch 12gen
                </h3>
                <div class="text-xs py-2"><i class="text-yellow-300 fa-solid fa-star"></i><i
                        class=" text-yellow-300 fa-solid fa-star"></i>
                    <i class=" text-yellow-300 fa-solid fa-star"></i><i class=" text-yellow-300 fa-solid fa-star"></i>
                    (120)
                </div>

                <h2>
                    $299.94
                </h2>
            </aside>
        </div>
        <div class=" bg-slate-200 mx-2 py-4 px-4 mt-0 w-[250px] items-center rounded-lg  ">
            <aside class=" px-2 w-full  h-full">

                <img src="images/gad1.avif" alt="" class="w-full h-44 py-1">
                <h3 class="font-thin py-1">
                    Phone gadgets
                </h3>
                <h3 class="font-semibold py-1">
                    iphone 12Pro max,JBL,
                    Iwatch 12gen
                </h3>
                <div class="text-xs py-2"><i class="text-yellow-300 fa-solid fa-star"></i><i
                        class=" text-yellow-300 fa-solid fa-star"></i>
                    <i class=" text-yellow-300 fa-solid fa-star"></i><i class=" text-yellow-300 fa-solid fa-star"></i>
                    (120)
                </div>

                <h2>
                    $299.94
                </h2>
            </aside>
        </div>
        <div class=" bg-slate-200 mx-2 py-4 px-4 mt-0 w-[250px] items-center rounded-lg  ">
            <aside class=" px-2 w-full h-full ">
                <div class=" w-fit mx-auto bg-yellow-500 px-4 -mr-4 overflow-hidden -mb-1"> 30%</div>
                <img src="images/gad2.avif" alt="" class="w-full h-44 py-1 object-cover">
                <h3 class="font-thin py-1">
                    Phone gadgets
                </h3>
                <h3 class="font-semibold py-1">
                    iphone 12Pro max,JBL,
                    Iwatch 12gen
                </h3>
                <div class="text-xs py-2"><i class="text-yellow-300 fa-solid fa-star"></i><i
                        class=" text-yellow-300 fa-solid fa-star"></i>
                    <i class=" text-yellow-300 fa-solid fa-star"></i><i class=" text-yellow-300 fa-solid fa-star"></i>
                    (120)
                </div>

                <h2>
                    $299.94
                </h2>
            </aside>
        </div>
        <div class=" bg-slate-200 mx-2 py-4 px-4 mt-0 w-[250px] items-center rounded-lg">
            <aside class=" px-2 w-full h-full ">
                <img src="images/Picture.jpg" alt="" class="w-full h-44 py-1">
                <h3 class="font-thin py-1">
                    Phone gadgets
                </h3>
                <h3 class="font-semibold py-1">
                    iphone 12Pro max,JBL,
                    Iwatch 12gen
                </h3>
                <div class="text-xs py-2"><i class="text-yellow-300 fa-solid fa-star"></i><i
                        class=" text-yellow-300 fa-solid fa-star"></i>
                    <i class=" text-yellow-300 fa-solid fa-star"></i><i class=" text-yellow-300 fa-solid fa-star"></i>
                    (120)
                </div>

                <h2>
                    $299.94
                </h2>
            </aside>
        </div>
    </div>
</section>