<section class="bg-[#f6f7f9] mt-10">
    <div class="max-w-5xl mx-auto px-4 py-2">
        <div class="flex items-center flex-col sm:flex-row">
            <aside class="basis">
                <div class="">
                    <h1 class="text-6xl  text-slate-600 font-semibold">
                        Elevate Your Tech Gadget Game
                    </h1>
                    <p class="font-medium text-slate-400 text-xm py-3">Shop the latest technology available here in e-shop Sale & discount offers everyday</p>
                    <button class="bg-yellow-500 p-1 rounded-lg px-4 text-white">shop now</button>
                </div>
            </aside>
            <aside class="pt-10">
                <img class="max-w-72 sm:max-w-96 " src="assets/samsung-galaxy-s23-ultra-5g-1.png" alt="">
            </aside>
        </div>
    </div>
</section>