<section>
    <div class="bg-slate-400 flex gap-10 justify-center items-center p-20">
        <aside>
            <h1 class="text-5xl font-semibold">
                we provide you with good and quality phone in the market
            </h1>
            <p class="py-5 text-lg font-medium">choose wisely</p>
            <button class="bg-yellow-500 p-1 rounded-lg">shop now</button>
        </aside>
        <aside class="">
            <img class="max-w-96" src="assets/template1.jpg" alt="">
        </aside>
    </div>
</section>