<section class="service_grid">
    <div class="text-center" >
        <div class="mx-20">
            <h1 class="py-5 text-3xl font-extrabold">Lorem ipsum dolor sit.</h1>
            <p class="py-6 text-2xl leading-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit aut dolorum 
                voluptatem tempore consequatur itaque qui, non similique sequi autem,
                 voluptatibus, ea laboriosam! Magni accusantium enim praesentium
                assumenda qui tempora mollitia sapiente ipsa voluptatum maxime.
            </p>
            <a href="#" class="px-5 py-2 text-white bg-indigo-500 rounded-lg">More Info</a>

        </div>
        
        
    </div>
</section>