<section class="py-24 service_grid">
  <div class="max-w-6xl mx-auto ">
    <marquee behavior="" direction="--Left">
      <div class="flex gap-3">
        <img src="images/samsung.svg" alt="" class="h-24 w-36">
        <img src="images/openai.svg" alt="" class="h-24 w-36">
        <img src="images/amazon.svg" alt="" class="h-24 w-36">
        <img src="images/tencent.svg" alt="" class="h-24 w-36">
        <img src="images/Spotify Black.svg" alt="" class="h-24 w-36">
      </div>
    </marquee>

    <div class="grid grid-cols-1 lg:grid-cols-6 gap-5">
      <!-- Left Hand Side -->
      <div class="lg:col-span-4 lg:row-span-2 min-h-20 flex flex-col bg-slate-100 lg:flex-row">
        <div class="w-full px-6 py-7 lg:w-6/12 ">
          <h1 class="pb-5 text-3xl font-semibold">Free Shipping</h1>
          <p class="pb-7 text-slate-500">
            Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Voluptates aperiam dolorem quaerat fuga.
          </p>
          <a href="#" class="px-5 py-2 text-white bg-orange-600 rounded-lg">Shop Now</a>
        </div>
        <div class="w-full lg:w-6/12">
          <img src="images/empty-closed-boxes-white__1_-removebg-preview.png" alt="" class="w-full">
        </div>
      </div>

      <!-- Right Top -->
      <div class="lg:col-span-2 min-h-20 bg-slate-100 flex flex-col px-5 py-6 lg:flex-row">
        <div class="w-full lg:w-1/2">
          <h1 class="text-3xl font-semibold">Black Friday Clearance</h1>
          <p class="pb-7 text-slate-500">
            Up to 80% off
          </p>
          <a href="#" class="px-5 py-2 text-white bg-orange-600 rounded-lg">Shop Now</a>
        </div>

        <div class="w-full lg:w-1/2">
          <img src="images/rb_2148355779-removebg-preview (1).png" alt="" class="">
        </div>
      </div>

      <!-- Right bottom -->
      <div class="lg:col-span-2 min-h-20 bg-slate-100 flex flex-col px-5 py-6 lg:flex-row">
        <div class="w-full px-5 py-6 lg:w-1/2">
          <h1 class="text-3xl font-semibold pb-7">First Purchase 20% Discount</h1>
          <p class="pb-7 text-slate-500">Use FIRSTPAY code</p>
          <a href="#" class="px-5 py-2 text-white bg-orange-600 rounded-lg">Shop Now</a>
        </div>

        <div class="w-full px-5 py-6 lg:w-1/2">
          <img src="images/headset-removebg-preview.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>