<header class="bg-primary text-white">
    <!-- Top Most Section of the header -->
    <section class="max-w-5xl mx-auto px-4 py-2 flex justify-between items-center">

    </section>

    <!-- Brand, Search and CTA Section of the header -->
    <section class="max-w-5xl mx-auto px-4 py-2 flex justify-between items-center">
        <aside>dsdsdsdsd</aside>
        <aside>Search</aside>
        <aside>
            <button class="sm:hidden">
                <i class="fas fa-bars fa-2x"></i>
            </button>
        </aside>
    </section>

    <!-- Nav|Menu Section of the header -->
    <section class="max-w-5xl mx-auto px-4 py-2 sm:flex justify-between items-start flex-col sm:flex-row hidden">
        <!-- Main Menu -->
        <aside>
            <ul>
                <li>
                    <a href="#">Limited Sales</a>
                </li>
                <li>
                    <a href="#">Best Sellers</a>
                </li>
                <li>
                    <a href="#">New Arrival</a>
                </li>
            </ul>
        </aside>

        <!-- Other Menu -->
        <aside>
            <ul>
                <li>
                    <a href="#">Limited Sales</a>
                </li>
                <li>
                    <a href="#">Best Sellers</a>
                </li>
                <li>
                    <a href="#">New Arrival</a>
                </li>
            </ul>
        </aside>
    </section>
</header>