<div class="flex flex-col w-full h-full bg-white">
    <aside class="flex gap-3 py-6 px-7">
         <aside><img src="images/Amplify.png" alt="" class="w-9 h-9"></aside>
         <aside class="text-xl font-medium">Applify.</aside>
    </aside>

    <aside class="flex-col flex-grow py-2 px-4 text-slate-400 overflow-auto ">
        <ul>
            <li>
                <a href="" id="mnu_dashboard" class="py-2 px-3 flex items-center gap-2">
                    <i class="fas fa-table-columns text-secondary"></i> 
                    <span>
                        Dashboard
                    </span>
                </a>
            </li>
            <li>
                <a href="#" id="mnu_dashboard" class="py-2 px-3 flex items-center gap-2" onclick="toggleSubmenu(event)">
                    <i class="fas fa-store"></i> 
                    <span class="flex-1">
                        My Store
                    </span>
                    <i class="fas fa-chevron-down"></i>
                </a>
                <ul class="px-3 h-0 overflow-hidden sub_menu transition-all duration-500">
                    <li>
                        <a href="" id="mnu_dashboard" class="py-2 px-3 flex items-center gap-2">
                            <i class="fas fa-layer-group"></i> 
                            <span>
                                Categories
                            </span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#" id="mnu_dashboard" class="py-2 px-3 flex items-center gap-2">
                            <i class="fas fa-desktop"></i> 
                            <span class="flex-1">
                                Products
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="" id="mnu_dashboard" class="py-2 px-3 flex items-center gap-2">
                    <i class="fas fa-user"></i> 
                    <span>
                        My Profile
                    </span>
                </a>
            </li>
            <li>
                <a href="" id="mnu_dashboard" class="py-2 px-3 flex items-center gap-2">
                    <i class="fas fa-tools"></i> 
                    <span>
                        Settings
                    </span>
                </a>
            </li>
        </ul>
    </aside>


    <aside class="px-4 py-3">
        <div class="py-3 px-4 rounded-lg bg-secondary">
            <section class="mb-4 text-white text-center">
                <div class=" h-10 w-10 rounded-full bg-slate-200 mx-auto"></div>
                <span id="username"></span>
            </section>
            <button onclick="logoutUser()" class="bg-white rounded-md py-1 px-3 text-center w-full">
                <span><i class="fa-solid fa-right-from-bracket"></i></span><span class="ml-5"><a href="">Logout</a></span>
            </button>
        </div>
    </aside>
</div>
<script src="./js/AuthServices.js"></script>
<script>
    let logoutUser = () => {
        localStorage.removeItem('is_logded_in');
        // Send a request to back in order delete the session/apiToken

        // redirect the user to login
        window.location.reload();
    }

    // Get and display User
    let user = getUserObject();
    document.getElementById('username').innerText = `${user.firstname} ${user.lastname}`;

    // 
    let toggleSubmenu = (ev) => {
        let menu = null;
        if (ev.target.localName == 'span' || ev.target.localName == 'i') {
            menu = ev.target.parentElement
        }else{
            menu = ev.target
        }

        let subMenu = menu.nextElementSibling
        if (subMenu.classList.contains('h-0')) {
            subMenu.classList.remove('h-0')
        }else{
            subMenu.classList.add('h-0')
        }
        
        
    }
</script>