<div class="flex flex-col w-full h-full bg-white">
    <aside class="flex gap-3 py-6 px-7">
         <aside><img src="images/Amplify.png" alt="" class="w-9 h-9"></aside>
         <aside class="text-xl font-medium">Applify.</aside>
    </aside>

    <aside class="flex-col flex-grow py-2 px-7 text-slate-400 overflow-auto ">
        <div class="pb-5">
            <span><i class="fa-solid fa-square text-secondary"></i></span> <span class="ml-5 font-medium text-secondary"><a href="#" class="active:text-secondary">Dashboard</a></span>
        </div>
        <div class="pb-5">
            <span><i class="fa-solid fa-briefcase"></i></i></span><span class="ml-5"><a href="#">Jobs</a></span>
        </div>
        <div class="pb-5">
            <span><i class="fa-solid fa-calendar-days"></i></span><span class="ml-5"><a href="#"></a>Schedule</span>
        </div>
        <div class="pb-5">
            <span><i class="fa-regular fa-folder"></i></span><span class="ml-5"><a href="#">Documents</a></span>
        </div>
        <div class="pb-5">
            <span><i class="fa-solid fa-chart-simple"></i></span><span class="ml-5"><a href=""></a>Statistics</span>
        </div>
        <div class="pb-5">
            <span><i class="fa-solid fa-users"></i></span><span class="ml-5"><a href="#"></a>Community</span>
        </div>
        <div class="pb-5">
            <span><i class="fa-regular fa-message"></i></span><span class="ml-5"><a href="#">Message</a></span>
        </div>
    </aside>


    <aside class="px-4 py-3">
        <div class="py-3 px-4 rounded-lg bg-secondary">
            <section class="mb-4 text-white text-center">
                <div class=" h-10 w-10 rounded-full bg-slate-200 mx-auto"></div>
                <span id="username"></span>
            </section>
            <button onclick="logoutUser()" class="bg-white rounded-md py-1 px-3 text-center w-full">
                <span><i class="fa-solid fa-right-from-bracket"></i></span><span class="ml-5"><a href="">Logout</a></span>
            </button>
        </div>
    </aside>
</div>
<script src="./js/AuthServices.js"></script>
<script>
    let logoutUser = () => {
        localStorage.removeItem('is_logded_in');
        // Send a request to back in order delete the session/apiToken

        // redirect the user to login
        window.location.reload();
    }

    let user = getUserObject();
    document.getElementById('username').innerText = `${user.firstname} ${user.lastname}`;
</script>