<div class="flex flex-col w-full h-full bg-white">
    <aside class="flex gap-3 py-6 px-7">
         <aside><img src="images/Amplify.png" alt="" class="w-9 h-9"></aside>
         <aside class="text-xl font-medium">Applify.</aside>
    </aside>

    <aside class="flex-col flex-grow py-2 px-7 text-slate-400 ">
        <div class="pb-5">
            <span><i class="fa-solid fa-square text-secondary"></i></span> <span class="ml-5 font-medium text-secondary"><a href="#" class="active:text-secondary">Dashboard</a></span>
        </div>
        <div class="pb-5">
            <span><i class="fa-solid fa-briefcase"></i></i></span><span class="ml-5"><a href="#">Jobs</a></span>
        </div>
        <div class="pb-5">
            <span><i class="fa-solid fa-calendar-days"></i></span><span class="ml-5"><a href="#"></a>Schedule</span>
        </div>
        <div class="pb-5">
            <span><i class="fa-regular fa-folder"></i></span><span class="ml-5"><a href="#">Documents</a></span>
        </div>
        <div class="pb-5">
            <span><i class="fa-solid fa-chart-simple"></i></span><span class="ml-5"><a href=""></a>Statistics</span>
        </div>
        <div class="pb-5">
            <span><i class="fa-solid fa-users"></i></span><span class="ml-5"><a href="#"></a>Community</span>
        </div>
        <div class="pb-5">
            <span><i class="fa-regular fa-message"></i></span><span class="ml-5"><a href="#">Message</a></span>
        </div>
        <div>
            <span><i class="fa-solid fa-right-from-bracket"></i></span><span class="ml-5"><a href="">Logout</a></span>
        </div>
    </aside>


    <aside class="px-4 py-3">
        <div class="py-3 rounded-lg bg-secondary min-h-24">
            <h3 class="px-2 py-2 text-sm font-medium text-white">Upgrade to Premium</h3>
            <p class="px-2 text-sm text-slate-300">Go pro to unlock more features</p>
           <div class="py-5 text-center">
            <a href="#" class="px-4 py-2 font-medium bg-white rounded-lg text-secondary"> Upgrade</a>
           </div>
        </div>
    </aside>
</div>