<div class="fixed h-dvh w-60 bg-white right-0">
    <div class=" py-3 text-right px-3">
       <div class="flex items-end gap-3">
            <div class="">
                <i class="fa-solid fa-question-circle"></i>
            </div>
            <div>
                <i class="fa-solid fa-setting"></i>
            </div>
            <div class="w-5 h-5 rounded-full overflow-hidden">
                <img src="images/student-2.jpg" alt="" class="object-cover">
            </div>
       </div>
    </div>
    <div class="text-center mx-auto py-4">
        <div class="bg-blue-600 w-20 h-20 rounded-full mx-auto overflow-hidden">
            <img src="images/student-2.jpg" alt="" class="object-cover">
        </div>
        <div>
            <h1>candace Jules</h1>
            <h2 class="text-fuchsia-500 text-xs">director of recruiting</h2>
            <div>
                <i class="fa-solid fa-location-dot text-xs text-blue-700"></i>
                <span class="text-xs text-blue-700">New York, USA</span>
            </div>
        </div>
    </div>
    <div class="flex justify-between px-2">
        <div class="">
            <p class="text-sm">Job posted</p>
        </div>
        <div class="bg-secondary px-2 rounded-md ml-16">
            <button class="text-sm text-white">+Add</button>
        </div>
        <div class="bg-slate-300 px-1 rounded-md">
            <button>></button>
        </div>
    </div>
    <div class="mt-4 mx-2">
        <div class="bg-primary py-3 rounded-lg flex ">
            <div class="bg-white/20 py-1 px-2 rounded-md ml-2">
                <p class="text-white">95</p>
            </div>
            <div class="text-sm mx-2 text-white">
                <h1>sr.Andriod developer</h1>
                <p>Total application</p>
            </div>
        </div>
    </div>
    <div class="mt-4 mx-2">
        <div class="bg-secondary py-3 rounded-lg flex ">
            <div class="bg-white/20 py-1 px-2 rounded-md ml-2">
                <p class="text-white">80</p>
            </div>
            <div class="text-sm mx-2 text-white">
                <h1>Ux/Ui designer</h1>
                <p>Total application</p>
            </div>
        </div>
    </div>
</div>